<div class = login-trangchu>
  <h1>Sign in </h1>
<%# <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%# <%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>
<div class = "login-formdangnhap">
<%= form_with url: session_url do |form| %>
  <p>Email:</p>
  <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %><br>
  <p>Password:</p>
  <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %><br>
  <%= form.submit "Sign in" %>
<% end %>
<%= link_to "Forgot password?", new_password_path %>
</div>
</div>
